<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament:</strong>
  <%= @pool_fighter.tournament_name %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @pool_fighter.pool_name %>
</p>

<p>
  <strong>Fighter:</strong>
  <%= @pool_fighter.fighter_name %>
</p>

<%= link_to 'Edit', edit_pool_fighter_path(@pool_fighter) %> |
<%= link_to 'Back', pool_fighters_path %>
