<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @tournament.weapon %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

<div>
    <% if @tournament.fighters.any? %>
      <h3>Fighters (<%= @tournament.fighters.count %>)</h3>
      <ol>
        <%= render @tournament.fighters %>
      </ol>
    <% end %>
</div>