<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @tournament.weapon %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

<div>
  <% if @tournament.fighters.any? %>
    <h3>Fighters (<%= @tournament.fighters.count %>)</h3>
    <% @tournament.fighters.each do |fighter| %>
    <ul>
      <li><%= fighter.name %>
        <form action="<%= tournaments_remove_fighter_path(@tournament, fighter_id: fighter.id) %>" class="delete-form-button" method="post">
            <input name="_method" type="hidden" value="delete">
            <input class="btn btn-small" type="submit" value="X">
            <%= render partial: 'partials/authenticity_token' %>
        </form>
      </li>
    </ul>
    <% end %>
  <% end %>
</div>

<form action="<%= tournaments_add_fighter_path(@tournament) %>" method="POST" role="form" id="addFighterForm">
    <%= render partial: 'partials/authenticity_token' %>

    <div class="form-group tournaments-show-fighters">
      <label>First name<input type="text" name="fighter[first_name]" id="firstName" class="form-control"></label>
      <label>Last name<input type="text" name="fighter[last_name]" id="lastName" class="form-control"></label>
      <label>Club<input type="text" name="fighter[club]" id="club" class="form-control"></label>
      <button class="btn btn-primary sign-in-button">Add</button>
    </div>
  </form>
  <div>
    <%= link_to 'Show pools', pools_path(tournament_id: @tournament.id) %>
  </div>