<%= form_for(tournament_fighter) do |f| %>
  <% if tournament_fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament_fighter.errors.count, "error") %> prohibited this tournament_fighter from being saved:</h2>

      <ul>
      <% tournament_fighter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament %>
    <%= f.collection_select :tournament_id, @tournaments, :id, :name, :prompt => "Select tournament" %>
  </div>

  <div class="field">
    <%= f.label :fighter %>
    <%= f.collection_select :fighter_id, @fighters, :id, :name, :prompt => "Select fighter" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>