<p id="notice"><%= notice %></p>
<h1><%= @tournament.name %></h1>
<h1>Pools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.name %></td>
        <td><%= link_to 'Show', pool_path(tournament_id: @tournament.id, id: pool.id) %></td>
        <td><%= link_to 'Edit', edit_pool_path(tournament_id: @tournament.id, id: pool.id) %></td>
        <td><%= link_to 'Destroy', pool_path(tournament_id: @tournament.id, id: pool.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool', new_pool_path %>

<div>
  <% if @tournament.not_assigned_fighters.any? %>
    <h3>Not assigned fighters (<%= @tournament.not_assigned_fighters.count %>)</h3>
    <% @tournament.not_assigned_fighters.each do |fighter| %>
    <ul>
      <li><%= fighter.name %></li>
      <li><%= fighter.club %></li>
    </ul>
    <% end %>
  <% end %>
</div>