<p id="notice"><%= notice %></p>
<h1><%= link_to @tournament.name, tournament_path(@tournament) %></h1>
<h1>Pools</h1>

<% @pools.each do |pool| %>
  <%= render partial: 'pool_with_fighters', locals: { pool: pool, tournament: @tournament } %>
<% end %>

<br>

<%= link_to 'New Pool', new_pool_path %>

<div>
  <% if @tournament.not_assigned_fighters.any? %>
    <h3>Not assigned fighters (<%= @tournament.not_assigned_fighters.count %>)</h3>
    <form action="<%= pools_add_fighters_path(tournament_id: @tournament.id) %>" method="POST" role="form">
      <% @tournament.not_assigned_fighters.each do |fighter| %>
        <input type="checkbox" name="fighter[]" value="<%= fighter.id %>"> <%= fighter.name %>, <%= fighter.club %> <br>
      <% end %>
      <select name = "pool_id">
        <% @pools.each do |pool| %>
          <option value="<%= pool.id %>"><%= pool.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit">
      <%= render partial: 'partials/authenticity_token' %>
    </form>
  <% end %>
</div>