<p id="notice"><%= notice %></p>

<h1><%= link_to @tournament.name, tournament_path(@tournament) %></h1>
<h2><%= link_to @pool.name, pool_path(tournament_id: @tournament.id, id: @pool.id) %></h2>

<form action="<%= pool_create_matches_path(tournament_id: @tournament.id, id: @pool.id) %>" method="post">
    <input class="btn btn-small" type="submit" value="Generate round robin matches">
    <%= render partial: 'partials/authenticity_token' %>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Fighter number</th>
      <th>Red Fighter</th>
      <th>Blue Fighter</th>
      <th>Exchanges</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pool.matches.each do |match| %>
      <tr>
        <td><%= match.order %></td>
        <td><%= match.red_fighter_name %></td>
        <td><%= match.blue_fighter_name %></td>
        <td><%= link_to 'Track', match_path(tournament_id: @tournament.id, pool_id: @pool.id, id: match.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
