<p id="notice"><%= notice %></p>

<p>
  <strong>Pool:</strong>
  <%= @match.pool_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @match.order %>
</p>

<p>
  <strong>Red fighter:</strong>
  <%= @match.red_fighter_id %>
</p>

<p>
  <strong>Blue fighter:</strong>
  <%= @match.blue_fighter_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
